<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Photo Slideshow</title>
</head>
<body>
	<h1>Add a photo</h1>
	<form action="" method="post">
	  <table>
		<tr>
		  <td>Photo URL:</td>
		  <td><input type="text" name="url"></td>
		</tr>
		<tr>
		  <td>Caption:</td>
		  <td><input type="text" name="caption"></td>
		</tr>
		<tr>
		  <td></td>
		  <td><input style="float: right;" type="submit" value="Submit"></td>
		</tr>
	  </table>
	</form>
	<hr>
	<h1>Photos</h1>
	<ol>
	  {% for photo in photos %}
		<li>
		  <b>{{photo.url}}</b>
		  <div style="margin-left: 12px;">{{photo.caption}}</div>
		</li>
	  {% endfor %}
	</ol>
</body>
</html>