<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Photo Slideshow</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css">
  <script type="text/javascript" src="js/slideshow.js"></script>
</head>
<body>
  <div class="photos">
    {% for photo in photos %}
      <img src="{{photo.url}}" class="" title="{{photo.caption}}" alt="{{photo.caption}}">
    {% endfor %}
  </div>
  <div class="controls">
    <button class="prev">Previous</button>
    <button class="next">Next</button>
    <div class="caption"></div>
  </div>
</body>
</html>